extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Ride or Die
    p.lead We're never too busy to pick you up!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


